# Interactive Visualization Lab

Complete the following set of exercises to solidify your knowledge of interactive visualization using Plotly, Cufflinks, and IPyWidgets.

In [1]:
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
from ipywidgets import interact

cf.go_offline()

In [2]:
data = pd.read_excel('../data/Online Retail.xlsx')

data.head(5)

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

## 1. Create an interactive bar chart showing total quantity and revenue by country (excluding United Kingdom) for the month of April 2011.

In [3]:
data['Year'] = data['InvoiceDate'].astype(str).apply(lambda string: string[0:4]).astype(int)
data['Month'] = data['InvoiceDate'].astype(str).apply(lambda string: string[5:7]).astype(int)
data['Day'] = data['InvoiceDate'].astype(str).apply(lambda string: string[8:10]).astype(int)

data_no_uk = data[(data['Country'] != 'United Kingdom')]



@interact(Year=list(data_no_uk['Year'].unique()),
          Month=list(data_no_uk['Month'].unique()))

def bar_chart(Year, Month):
      
    data_chart = data_no_uk[(data_no_uk['Year']==Year) & (data_no_uk['Month']==Month)].groupby('Country').agg({'Quantity':'sum', 'Revenue':'sum'}).reset_index()

    data_chart.iplot(kind='bar', x='Country', xTitle='Country',
               yTitle='Total Quantity & Revenue', color='blue', 
               title='Total Quantity & Revenue by Country')

interactive(children=(Dropdown(description='Year', options=(2010, 2011), value=2010), Dropdown(description='Mo…

In [4]:
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Year,Month,Day
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,2010,12,1
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,2010,12,1

## 2. Create an interactive line chart showing quantity and revenue sold to France between January 1st and May 31st 2011.

In [5]:
data_france = data[(data['Month'] >= 1) & (data['Month'] <= 5)] 

@interact(Year=list(data_france['Year'].unique()),Country=list(data_france['Country'].unique()))

def line_chart(Year,Country):
    
    data_line = data_france[(data_france['Year']==Year) & (data_france['Country']==Country)].groupby('Day', as_index=False).agg({'Quantity':'sum', 'Revenue':'sum'})
      
    data_line.iplot(kind='line', x='Day', xTitle='Day', y=['Quantity','Revenue'],
               yTitle='Total Quantity & Revenue', color=['blue','red'], 
               title='Total Quantity & Revenue')

interactive(children=(Dropdown(description='Year', options=(2011,), value=2011), Dropdown(description='Country…

## 3. Create an interactive scatter plot showing the relationship between average quantity (x-axis) and average unit price (y-axis) for the product PARTY BUNTING with the plot points color-coded by country (categories).

In [6]:
data['Description'].unique()

array(['CREAM HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'LETTER "W" BLING KEY RING',
       'LETTER "Z" BLING KEY RING', 'PINK CRYSTAL SKULL PHONE CHARM'],
      dtype=object)

In [7]:
@interact(Description='')

def scatter(Description):
    
    if Description:
        dataset = data[data['Description'] == Description]
    else:
        dataset = data
 
    dataset = dataset.groupby('Country').agg({'Quantity':'mean','UnitPrice':'mean'}).reset_index() 
    
    dataset.iplot(kind='scatter', x='Quantity', y='UnitPrice', 
               categories='Country',
               xTitle='Tenure', yTitle='Monthly Charges',

                  title='Charges vs. Tenure')

interactive(children=(Text(value='', description='Description'), Output()), _dom_classes=('widget-interact',))

## 4. Create a set of interactive histograms showing the distributions of quantity per invoice for the following countries: EIRE, Germany, France, and Netherlands.

In [8]:
data_distribution = data[(data['Country'] == "EIRE")|(data['Country'] == "Germany")|(data['Country'] == "France")|(data['Country'] == "Netherlands")] 

data_distribution

@interact(bins = (8, len(data_distribution['InvoiceNo'].unique())))
def hist(bins):
    data_distribution['Quantity'].iplot(kind='hist', bins=bins, title='Tenure Distribution')

interactive(children=(IntSlider(value=589, description='bins', max=1171, min=8), Output()), _dom_classes=('wid…

## 5. Create an interactive side-by-side bar chart showing the revenue by country listed below (bars) for each of the products listed below.

In [9]:
product_list = ['JUMBO BAG RED RETROSPOT', 
                'CREAM HANGING HEART T-LIGHT HOLDER',
                'REGENCY CAKESTAND 3 TIER']

country_list = ['EIRE', 'Germany', 'France', 'Netherlands']

In [10]:
@interact(Products=list(product_list), 
          Country=list(country_list)) 

def linechart(Products, Country):
    
    dataset = data.groupby('Day').agg({'Revenue':'sum'}).reset_index() 

    dataset.iplot(kind='line', x='Day', y='Revenue', xTitle='Tenure', 
               yTitle='Avg. Churn Rate', title='Avg. Churn Rate by ')

interactive(children=(Dropdown(description='Products', options=('JUMBO BAG RED RETROSPOT', 'CREAM HANGING HEAR…

## 6. Create an interactive line chart showing quantity sold by day for the United Kingdom. Add drop-down boxes for Year and Month that allow you to filter the date range that appears in the chart.

In [11]:
data['Year'] = pd.DatetimeIndex(data['InvoiceDate']).year
data['Month'] = pd.DatetimeIndex(data['InvoiceDate']).month
data['Day'] = pd.DatetimeIndex(data['InvoiceDate']).day
uk = data[data['Country']=='United Kingdom']

In [12]:
from ipywidgets import IntSlider
from ipywidgets.embed import embed_minimal_html


@interact(Year=list(data['Year'].unique()),Country=list(data['Country'].unique()),Month=list(data['Month'].unique()))

def line_chart(Year,Country,Month):
    
    data_line = data[(data['Year']==Year) & (data['Country']==Country) & (data['Month']==Month)].groupby('Day', as_index=False).agg({'Quantity':'sum'})
      
    data_line.iplot(kind='line', x='Day', xTitle='Day', y=['Quantity'],
               yTitle='Total Quantity & Revenue', color=['blue','red'], 
               title='Total Quantity & Revenue')

interactive(children=(Dropdown(description='Year', options=(2010, 2011), value=2010), Dropdown(description='Co…

## 7. Create an interactive scatter plot that plots number of invoices (x-axis) vs. number of customers (y-axis) and the plot points represent individual products. Add two sliders that control the x and y axis ranges.

In [7]:
agg_func = {'InvoiceNo':'nunique',
            'Quantity':'sum',
            'UnitPrice':'mean',
            'Revenue':'sum',
            'CustomerID':'nunique'}

products = uk.groupby('Description').agg(agg_func)

## 8. Creat an interactive bar chart that shows revenue by product description. Add a text field widget that filters the results to show the product that contain the text entered in their description.