# Interactive Visualization Lab

Complete the following set of exercises to solidify your knowledge of interactive visualization using Plotly, Cufflinks, and IPyWidgets.

In [1]:
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
from ipywidgets import interact

cf.go_offline()

In [2]:
data = pd.read_excel('../data/Online Retail.xlsx')

data.head(5)

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

## 1. Create an interactive bar chart showing total quantity and revenue by country (excluding United Kingdom) for the month of April 2011.

In [3]:
data['Year'] = data['InvoiceDate'].astype(str).apply(lambda string: string[0:4]).astype(int)
data['Month'] = data['InvoiceDate'].astype(str).apply(lambda string: string[5:7]).astype(int)
data['Day'] = data['InvoiceDate'].astype(str).apply(lambda string: string[8:10]).astype(int)

data_no_uk = data[(data['Country'] != 'United Kingdom')]



@interact(Year=list(data_no_uk['Year'].unique()),
          Month=list(data_no_uk['Month'].unique()))

def bar_chart(Year, Month):
      
    data_chart = data_no_uk[(data_no_uk['Year']==Year) & (data_no_uk['Month']==Month)].groupby('Country').agg({'Quantity':'sum', 'Revenue':'sum'}).reset_index()

    data_chart.iplot(kind='bar', x='Country', xTitle='Country',
               yTitle='Total Quantity & Revenue', color='blue', 
               title='Total Quantity & Revenue by Country')

interactive(children=(Dropdown(description='Year', options=(2010, 2011), value=2010), Dropdown(description='Mo…

In [4]:
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Year,Month,Day
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010,12,1
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,2010,12,1
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,2010,12,1

## 2. Create an interactive line chart showing quantity and revenue sold to France between January 1st and May 31st 2011.

In [5]:
data_france = data[(data['Month'] >= 1) & (data['Month'] <= 5)] 

@interact(Year=list(data_france['Year'].unique()),Country=list(data_france['Country'].unique()))

def line_chart(Year,Country):
    
    data_line = data_france[(data_france['Year']==Year) & (data_france['Country']==Country)].groupby('Day', as_index=False).agg({'Quantity':'sum', 'Revenue':'sum'})
      
    data_line.iplot(kind='line', x='Day', xTitle='Day', y=['Quantity','Revenue'],
               yTitle='Total Quantity & Revenue', color=['blue','red'], 
               title='Total Quantity & Revenue')

interactive(children=(Dropdown(description='Year', options=(2011,), value=2011), Dropdown(description='Country…

## 3. Create an interactive scatter plot showing the relationship between average quantity (x-axis) and average unit price (y-axis) for the product PARTY BUNTING with the plot points color-coded by country (categories).

In [7]:
@interact(Description=list(data['Description'].unique()))

def scatter(Description):
    dataset = data[(data['Description']==Description)]
    
    dataset = data[(senior) & (phone)].groupby('Country').agg({'Quantity':'mean','UnitPrice':'mean'}).reset_index()

    dataset.iplot(kind='scatter', x='Country', y='MonthlyCharges', 
               categories='Contract', text='customerID', 
               xTitle='Tenure', yTitle='Monthly Charges',
               title='Charges vs. Tenure')

interactive(children=(Dropdown(description='Description', options=('CREAM HANGING HEART T-LIGHT HOLDER', 'WHIT…

In [8]:
data['Description'].unique()

array(['CREAM HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'LETTER "W" BLING KEY RING',
       'LETTER "Z" BLING KEY RING', 'PINK CRYSTAL SKULL PHONE CHARM'],
      dtype=object)

In [9]:
@interact(Description='')

def scatter(Description):
    
    dataset = data[data['Description'].str.contains(Description)]
    
    #dataset = data.groupby('Country').agg({'Quantity':'mean','UnitPrice':'mean'}).reset_index() 
    
    dataset.iplot(kind='scatter', x='Quantity', y='UnitPrice', 
               categories='Country',
               xTitle='Tenure', yTitle='Monthly Charges',
               title='Charges vs. Tenure')

interactive(children=(Text(value='', description='Description'), Output()), _dom_classes=('widget-interact',))

In [61]:
data[(data['Description']== 'PARTY BUNTING')]

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Year,Month,Day
252864,536956,2010-12-03 12:43:00,47566,PARTY BUNTING,5,4.65,23.25,14210,United Kingdom,2010,12,3
252865,537065,2010-12-05 11:57:00,47566,PARTY BUNTING,5,4.65,23.25,12567,France,2010,12,5
252866,537128,2010-12-05 12:15:00,47566,PARTY BUNTING,2,4.65,9.30,12841,United Kingdom,2010,12,5
252867,537142,2010-12-05 12:57:00,47566,PARTY BUNTING,1,4.65,4.65,12748,United Kingdom,2010,12,5
252868,537420,2010-12-06 15:18:00,47566,PARTY BUNTING,5,4.65,23.25,17519,United Kingdom,2010,12,6
252869,537440,2010-12-06 17:16:00,47566,PARTY BUNTING,1,4.65,4.65,17869,United Kingdom,2010,12,6
252870,537691,2010-12-08 10:39:00,47566,PARTY BUNTING,5,4.65,23.25,13842,United Kingdom,2010,12,8
252871,537811,2010-12-08 13:30:00,47566,PARTY BUNTING,50,3.75,187.50,17262,United Kingdom,2010,12,8
252872,538032,2010-12-09 12:59:00,47566,PARTY BUNTING,5,4.65,23.25,14479,United Kingdom,2010,12,9
252873,538086,2010-12-09 14:44:00,47566,PARTY BUNTING,1,4.65,4.65,12872,United Kingdom,2010,12,9
252874,538095,2010-12-09 14:55:00,47566,PARTY BUNTING,1,4.65,4.65,17097,Spain,2010,12,9
252875,538151,2010-12-09 16:28:00,47566,PARTY BUNTING,50,3.75,187.50,16163,United Kingdom,2010,12,9
252876,538397,2010-12-12 11:44:00,47566,PARTY BUNTING,20,4.65,93.00,12753,Japan,2010,12,12
252877,538529,2010-12-13 10:24:00,47566,PARTY BUNTING,5,4.65,23.25,14290,United Kingdom,2010,12,13
252878,538708,2010-12-14 10:43:00,47566,PARTY BUNTING,5,4.65,23.25,16202,United Kingdom,2010,12,14
252879,538826,2010-12-14 12:58:00,47566,PARTY BUNTING,1,4.65,4.65,12370,Cyprus,2010,12,14
252880,538853,2010-12-14 13:35:00,47566,PARTY BUNTING,3,4.65,13.95,16805,United Kingdom,2010,12,14
252881,539082,2010-12-16 09:22:00,47566,PARTY BUNTING,5,4.65,23.25,13317,United Kingdom,2010,12,16
252882,539477,2010-12-19 14:58:00,47566,PARTY BUNTING,5,4.65,23.25,18245,United Kingdom,2010,12,19
252883,539593,2010-12-20 13:31:00,47566,PARTY BUNTING,10,4.65,46.50,13319,United Kingdom,2010,12,20
252884,539610,2010-12-20 14:33:00,47566,PARTY BUNTING,1,4.65,4.65,14606,United Kingdom,2010,12,20
252885,539754,2010-12-21 16:06:00,47566,PARTY BUNTING,1,4.65,4.65,12748,United Kingdom,2010,12,21
252886,539836,2010-12-22 13:46:00,47566,PARTY BUNTING,3,4.65,13.95,17894,United Kingdom,2010,12,22
252887,540023,2011-01-04 12:58:00,47566,PARTY BUNTING,60,3.75,225.00,15039,United Kingdom,2011,1,4
252888,540027,2011-01-04 13:30:00,47566,PARTY BUNTING,5,4.65,23.25,14210,United Kingdom,2011,1,4
252889,540153,2011-01-05 11:25:00,47566,PARTY BUNTING,50,3.75,187.50,15841,United Kingdom,2011,1,5
252890,540348,2011-01-06 13:56:00,47566,PARTY BUNTING,3,4.65,13.95,12841,United Kingdom,2011,1,6
252891,540372,2011-01-06 16:41:00,47566,PARTY BUNTING,15,4.65,69.75,13081,United Kingdom,2011,1,6
252892,540413,2011-01-07 10:29:00,47566,PARTY BUNTING,5,4.65,23.25,15194,United Kingdom,2011,1,7
252893,540489,2011-01-07 16:32:00,47566,PARTY BUNTING,4,4.65,18.60,13593,United Kingdom,2011,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
254230,578470,2011-11-24 12:38:00,47566,PARTY BUNTING,4,4.95,19.80,16824,United Kingdom,2011,11,24
254231,578515,2011-11-24 13:40:00,47566,PARTY BUNTING,1,4.95,4.95,16885,United Kingdom,2011,11,24
254232,578696,2011-11-25 10:02:00,47566,PARTY BUNTING,4,4.95,19.80,13985,United Kingdom,2011,11,25
254233,578701,2011-11-25 10:52:00,47566,PARTY BUNTING,4,4.95,19.80,17624,United Kingdom,2011,11,25
254234,578786,2011-11-25 12:02:00,47566,PARTY BUNTING,4,4.95,19.80,13184,United Kingdom,2011,11,25
254235,578925,2011-11-27 12:13:00,47566,PARTY BUNTING,2,4.95,9.90,17365,United Kingdom,2011,11,27
254236,579175,2011-11-28 14:39:00,47566,PARTY BUNTING,6,4.95,29.70,14562,United Kingdom,2011,11,28
254237,579196,2011-11-28 15:54:00,47566,PARTY BUNTING,3,10.79,32.37,14096,United Kingdom,2011,11,28
254238,579414,2011-11-29 12:52:00,47566,PARTY BUNTING,1,4.95,4.95,14719,United Kingdom,2011,11,29
254239,579461,2011-11-29 14:42:00,47566,PARTY BUNTING,4,4.95,19.80,15615,United Kingdom,2011,11,29
254240,579623,2011-11-30 12:15:00,47566,PARTY BUNTING,4,4.95,19.80,16062,United Kingdom,2011,11,30
254241,579750,2011-11-30 14:42:00,47566,PARTY BUNTING,6,4.95,29.70,13536,United Kingdom,2011,11,30
254242,580058,2011-12-01 13:19:00,47566,PARTY BUNTING,4,4.95,19.80,14367,United Kingdom,2011,12,1
254243,580060,2011-12-01 13:25:00,47566,PARTY BUNTING,4,4.95,19.80,14287,United Kingdom,2011,12,1
254244,580160,2011-12-02 10:47:00,47566,PARTY BUNTING,4,4.95,19.80,12700,France,2011,12,2
254245,580294,2011-12-02 13:46:00,47566,PARTY BUNTING,7,4.95,34.65,17364,United Kingdom,2011,12,2
254246,580304,2011-12-02 14:25:00,47566,PARTY BUNTING,10,4.95,49.50,18055,United Kingdom,2011,12,2
254247,580355,2011-12-02 16:04:00,47566,PARTY BUNTING,8,4.95,39.60,13953,United Kingdom,2011,12,2
254248,580402,2011-12-04 11:55:00,47566,PARTY BUNTING,6,4.95,29.70,13536,United Kingdom,2011,12,4
254249,580503,2011-12-04 13:20:00,47566,PARTY BUNTING,3,4.95,14.85,13956,United Kingdom,2011,12,4
254250,580513,2011-12-04 13:59:00,47566,PARTY BUNTING,1,4.95,4.95,14456,United Kingdom,2011,12,4
254251,580673,2011-12-05 14:30:00,47566,PARTY BUNTING,12,4.95,59.40,13089,United Kingdom,2011,12,5
254252,580696,2011-12-05 16:04:00,47566,PARTY BUNTING,2,4.95,9.90,17757,United Kingdom,2011,12,5
254253,580736,2011-12-06 08:55:00,47566,PARTY BUNTING,4,4.95,19.80,12716,France,2011,12,6
254254,580753,2011-12-06 10:00:00,47566,PARTY BUNTING,8,4.95,39.60,12682,France,2011,12,6
254255,580937,2011-12-06 14:13:00,47566,PARTY BUNTING,4,4.95,19.80,16143,United Kingdom,2011,12,6
254256,581142,2011-12-07 13:38:00,47566,PARTY BUNTING,3,4.95,14.85,14204,United Kingdom,2011,12,7
254257,581345,2011-12-08 12:15:00,47566,PARTY BUNTING,5,4.95,24.75,17315,United Kingdom,2011,12,8
254258,581417,2011-12-08 15:01:00,47566,PARTY BUNTING,8,4.95,39.60,13013,United Kingdom,2011,12,8
254259,581426,2011-12-08 15:31:00,47566,PARTY BUNTING,1,4.95,4.95,17757,United Kingdom,2011,12,8

## 4. Create a set of interactive histograms showing the distributions of quantity per invoice for the following countries: EIRE, Germany, France, and Netherlands.

## 5. Create an interactive side-by-side bar chart showing the revenue by country listed below (bars) for each of the products listed below.

In [5]:
product_list = ['JUMBO BAG RED RETROSPOT', 
                'CREAM HANGING HEART T-LIGHT HOLDER',
                'REGENCY CAKESTAND 3 TIER']

country_list = ['EIRE', 'Germany', 'France', 'Netherlands']

## 6. Create an interactive line chart showing quantity sold by day for the United Kingdom. Add drop-down boxes for Year and Month that allow you to filter the date range that appears in the chart.

In [6]:
data['Year'] = pd.DatetimeIndex(data['InvoiceDate']).year
data['Month'] = pd.DatetimeIndex(data['InvoiceDate']).month
data['Day'] = pd.DatetimeIndex(data['InvoiceDate']).day
uk = data[data['Country']=='United Kingdom']

## 7. Create an interactive scatter plot that plots number of invoices (x-axis) vs. number of customers (y-axis) and the plot points represent individual products. Add two sliders that control the x and y axis ranges.

In [7]:
agg_func = {'InvoiceNo':'nunique',
            'Quantity':'sum',
            'UnitPrice':'mean',
            'Revenue':'sum',
            'CustomerID':'nunique'}

products = uk.groupby('Description').agg(agg_func)

## 8. Creat an interactive bar chart that shows revenue by product description. Add a text field widget that filters the results to show the product that contain the text entered in their description.