In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv("./data_cars/cars_train.csv")

cars.head()

,Id,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,paint_color,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,price
0,559327,baltimore,2006.0,NaN,Scion tc,excellent,4 cylinders,gas,190000.0,clean,...,blue,39.287000,-76.647600,24510.0,Baltimore City,24.0,MD,Maryland,56.0,3200
1,1429566,carbondale,2018.0,dodge,charger sxt,NaN,NaN,gas,NaN,clean,...,NaN,37.720000,-89.215800,17077.0,Jackson,17.0,IL,Illinois,48.0,30620
2,931606,thumb,1997.0,ford,f 250 2 wheel dr pickup,fair,NaN,gas,NaN,clean,...,white,43.483300,-83.383500,26157.0,Tuscola,26.0,MI,Michigan,45.0,1800
3,1265412,laredo,2003.0,ram,NaN,NaN,8 cylinders,gas,NaN,clean,...,NaN,27.850069,-99.668883,48479.0,Webb,48.0,TX,Texas,67.0,4500
4,1133731,ocala,2000.0,dodge,1500,NaN,NaN,gas,NaN,clean,...,NaN,29.165000,-81.539900,12069.0,Lake,12.0,FL,Florida,65.0,1400

In [3]:
cars.corr()

,Id,year,odometer,lat,long,county_fips,state_fips,weather,price
Id,1.000000,0.009085,0.009059,-0.068988,0.174804,0.226848,0.226469,-0.034916,0.000478
year,0.009085,1.000000,-0.171935,0.019171,-0.036141,0.004467,0.004336,0.015485,-0.009369
odometer,0.009059,-0.171935,1.000000,-0.013916,0.040496,0.001866,0.001863,-0.006434,-0.000941
lat,-0.068988,0.019171,-0.013916,1.000000,-0.255605,0.209202,0.210721,-0.859486,-0.004640
long,0.174804,-0.036141,0.040496,-0.255605,1.000000,0.223156,0.222937,0.036326,0.000465
county_fips,0.226848,0.004467,0.001866,0.209202,0.223156,1.000000,0.999982,-0.154632,0.003036
state_fips,0.226469,0.004336,0.001863,0.210721,0.222937,0.999982,1.000000,-0.155990,0.003018
weather,-0.034916,0.015485,-0.006434,-0.859486,0.036326,-0.154632,-0.155990,1.000000,0.002938
price,0.000478,-0.009369,-0.000941,-0.004640,0.000465,0.003036,0.003018,0.002938,1.000000

In [4]:
cars.columns

Index(['Id', 'city', 'year', 'manufacturer', 'make', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'size',
       'type', 'paint_color', 'lat', 'long', 'county_fips', 'county_name',
       'state_fips', 'state_code', 'state_name', 'weather', 'price'],
      dtype='object')

In [5]:
def drop_column(df, column):
    df.drop(column,axis = 1, inplace = True)

In [6]:
def datos_dummies(df,column):
    cars_dummies = pd.get_dummies(df,column)
    return cars_dummies

In [7]:
column =['Id','county_fips', 'county_name','state_fips', 'state_code', 'state_name', 'weather','city','make','manufacturer']
drop_column(cars,column)

In [8]:
cars.head(5)

,year,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,lat,long,price
0,2006.0,excellent,4 cylinders,gas,190000.0,clean,automatic,NaN,NaN,NaN,blue,39.287000,-76.647600,3200
1,2018.0,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,37.720000,-89.215800,30620
2,1997.0,fair,NaN,gas,NaN,clean,automatic,NaN,NaN,pickup,white,43.483300,-83.383500,1800
3,2003.0,NaN,8 cylinders,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,27.850069,-99.668883,4500
4,2000.0,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,29.165000,-81.539900,1400

In [9]:
cars.dtypes

year            float64
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
drive            object
size             object
type             object
paint_color      object
lat             float64
long            float64
price             int64
dtype: object

In [10]:
cars.dropna(inplace=True)

In [11]:
column=['condition','cylinders','fuel','title_status','transmission','drive','size','type','paint_color']
cars_dummies = datos_dummies(cars,column)

In [12]:
X_train =cars_dummies.drop(['price'],axis = 1)
y_train = cars_dummies['price']

In [13]:
X_train

,year,odometer,lat,long,condition_excellent,condition_fair,condition_good,condition_like new,condition_new,condition_salvage,...,paint_color_brown,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow
6,2018.0,38.0,49.201117,-122.924410,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
14,2004.0,165000.0,49.281133,-123.025906,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
15,1980.0,150000.0,27.807204,-97.398469,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2011.0,139335.0,27.848181,-82.689344,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,1997.0,180000.0,40.447664,-122.298730,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469975,2010.0,76483.0,49.312838,-124.359741,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
469979,2013.0,60400.0,42.493500,-122.808800,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
469982,2010.0,127175.0,36.022301,-114.962607,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
469989,2016.0,151763.0,34.683630,-86.577461,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
469990,2016.0,35028.0,43.758910,-87.753580,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
y_train

6         34899
14         3995
15         4450
19        16977
21         1000
          ...
469975    12995
469979    12500
469982     6500
469989    40995
469990    14499
Name: price, Length: 102431, dtype: int64

In [15]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg= reg.fit(X_train, y_train)

In [16]:
cars_test = pd.read_csv("./data_cars/cars_test.csv")

cars_test.head()

,Id,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,type,paint_color,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather
0,974298,duluth,2006.0,ford,f-250 super duty,good,8 cylinders,gas,154400.0,clean,...,pickup,white,47.746524,-90.357742,27031.0,Cook,27.0,MN,Minnesota,43.0
1,1051884,kansascity,1987.0,chevrolet,NaN,NaN,NaN,gas,NaN,clean,...,NaN,NaN,38.373182,-93.776859,29083.0,Henry/Rives,29.0,MO,Missouri,52.0
2,684464,palmsprings,2010.0,jeep,liberty sport,NaN,6 cylinders,gas,127722.0,clean,...,SUV,NaN,33.741059,-116.356434,6065.0,Riverside,6.0,CA,California,59.0
3,1255387,sanmarcos,2003.0,chevrolet,tahoe,fair,8 cylinders,gas,NaN,clean,...,SUV,white,30.026266,-98.133363,48209.0,Hays,48.0,TX,Texas,67.0
4,1195520,tampa,2006.0,lexus,gs 300,NaN,NaN,gas,NaN,clean,...,NaN,NaN,27.868800,-82.734400,12103.0,Pinellas,12.0,FL,Florida,65.0

In [17]:
cars_test.fillna(method='ffill',inplace=True)

In [18]:
column =['Id','county_fips', 'county_name','state_fips', 'state_code', 'state_name', 'weather','city','make','manufacturer']
drop_column(cars_test,column)

In [19]:
column=['condition','cylinders','fuel','title_status','transmission','drive','size','type','paint_color']
X_test = datos_dummies(cars_test,column)

In [20]:
X_test

,year,odometer,lat,long,condition_excellent,condition_fair,condition_good,condition_like new,condition_new,condition_salvage,...,paint_color_brown,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow
0,2006.0,154400.0,47.746524,-90.357742,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1987.0,154400.0,38.373182,-93.776859,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2010.0,127722.0,33.741059,-116.356434,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2003.0,127722.0,30.026266,-98.133363,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2006.0,127722.0,27.868800,-82.734400,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253068,2012.0,97374.0,34.245549,-77.863694,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253069,2012.0,102873.0,35.086515,-106.563609,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
253070,1966.0,102873.0,46.155800,-123.798000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
253071,1994.0,102873.0,35.998000,-83.915200,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
253072,2002.0,115000.0,32.705900,-117.052400,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [21]:
y_pred = reg.predict(X_test)
len(y_pred)

253073

In [22]:
y_pred

array([-8610.09876867, -9647.84471745, 91587.50151698, ...,
       72263.57506538, 98901.31965598, 21863.6229751 ])

In [23]:
y_pred = pd.DataFrame(y_pred)

In [24]:
cars_test = pd.read_csv("./data_cars/cars_test.csv")
cars_test = cars_test['Id']

In [25]:
submi = pd.concat([cars_test, y_pred],axis = 1)
submi.columns=['Id','Price']

In [26]:
submi = submi[['Id','Price']]

In [27]:
submi.to_csv('submi3',index=False)

In [28]:
submi

             Id          Price
0        974298   -8610.098769
1       1051884   -9647.844717
2        684464   91587.501517
3       1255387  182897.844852
4       1195520  205995.033371
...         ...            ...
253068    53108  112509.652586
253069  1541257  -33848.928867
253070   585898   72263.575065
253071  1076549   98901.319656
253072   662527   21863.622975

[253073 rows x 2 columns]